*{
    font-family: 'roboto';
}
body{
    background-color: #f0f0f0;
}
pre{
    code{
        background-color: lightgray;
        padding: 10px 15px;
        display: inline-block;
        font-family: monospace;
        border-radius: 3px;
    }
}
textarea{
    resize: none;
    overflow-y: auto;
}

.MuiAppBar-colorPrimary{
    background-color: #343434 !important;
}
.admin-area{
    max-width: 1200px;
    margin: 0 auto;
}

.navigation{
    .MuiCircularProgress-root{
        margin-left: auto;
    }
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}
